.App {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.App-header {
  text-align: center;
  width: 50%;
  color: white;
  background-color: #2c2828;
  padding-left: 25%;
  padding-right: 25%;
}

.App-header:hover {
  background-color: gray;
  transition: 0.5s;
}

.Messages-list {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 900px;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  margin-top: 10px;
  display: flex;
}

.Messages-message.currentMember {
  text-align: right;
  flex-direction: row-reverse;
}

.currentMember>.Message-content {
  align-items: flex-end;
}

.Message-content {
  display: inline-block;
}

.Messages-message>.avatar {
  height: 35px;
  width: 35px;  
  display: inline-block;
  border-radius: 40%;
  margin: 0 10px -10px;
}

.Message-content>.username {
  display: block;
  padding-bottom: 4px;
  color: rgb(76, 73, 73);
  font-size: 15px;
}

.Message-content>.text {  
  display: inline-block;
  padding: 10px;  
  margin: 0;
  max-width: 400px;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
}

.currentMember>.Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;  
  margin: 0 auto 40px;
  max-width: 900px;
}

input {
  padding: 5px;
  border: 1px solid rgb(188, 56, 8);
  font-size: 16px;
  border-radius: 8px;
  flex-grow: 1;
}

button {
  background-color: rgb(188, 56, 8);
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 10px;
}

button:hover {
  font-size: 18px;
  transition: 0.5s;
}